ul{
    margin: 0px;
    display: block;
    text-align: left;
    padding: 5px;
    background-color: rgb(67, 40, 40);
}
li{
    display: inline;
    list-style: none;
    background-color: rgb(152, 119, 119);
    margin-right: 5px;
}
.headerbtn{
    text-decoration: none;
    padding: 3px;
    color: black;
}